body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

nav a {
    color: #37ec76;
    text-decoration: none;
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.project {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.project.krd::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 43, 43, 0.3);
    border-radius: 10px;
    pointer-events: none;
}

.project h2 {
    margin-bottom: 10px;
}

.project progress {
    width: 100%;
    margin-bottom: 10px;
}

.progress-in-progress {
    color: blue;
}

.progress-pending {
    color: orange;
}

.progress-cancelled {
    color: gray;
}

.canceled {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
}

.cv-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    position: fixed;
    left: 10px;
    top: 150px;
}

.cv-links a {
    color: red;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 18px;
}

.cv-links a:hover {
    color: green;
}