body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.project {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
}

.project h2 {
    margin-bottom: 10px;
}

.project progress {
    width: 100%;
    margin-bottom: 10px;
}

.progress-in-progress {
    color: blue;
}

.progress-pending {
    color: orange;
}

.progress-cancelled {
    color: gray;
}

.canceled {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
}

.cv-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
}

.cv-links a {
    color: red;
    text-decoration: none;
    margin-bottom: 10px;
}

.cv-links a:hover {
    color: green;
}